body {
  padding: 20px;
  background-color: #21232A;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn { 
  margin-right: 10px;
  color: black;
  background-color: white;
}

.h2 {
  display: flex;
}

a {
  margin-right: 5px;
}